.arrow {
  background: url('../../images/arrow.png') no-repeat white;
  background-size: contain;
  width: 20px;
  height: 12px;
  position: absolute;
  right: 0;
  top: 0;
  transition: .3s;
}

.active {
  transform: rotate(180deg);
}
