.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-between;
}

.input {
  width: 45%;
}

.select {
  width: 45%;
  justify-content: center;
  margin-bottom: -5px;
}

.menu-item {
  margin-right: 5px;
}
